<section class="card">

  <div class="card-header bg-info text-white">
    <h1 class="h5">Mon conseiller</h1>

  </div>
  <p>{{client.agent.utilisateur.nom}} {{client.agent.utilisateur.prenom}}</p>
  <p>{{client.agent.utilisateur.telephone}}</p>
  <p>{{client.agent.utilisateur.adresse}}</p>
  <!--end .card-header-->
  <div class="card-header bg-info text-white">
    <h1 class="h5">Virement</h1>
  </div>
  <!--end .card-header-->
  <ul class="list-group">
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <button type="button" [routerLink]="['/virement/']" id="btnPartieDroite"
        class="btn btn-light btn-lg btn-block">VIREMENT PONCTUEL</button>
    </li>
  </ul>
  <div class="card-header bg-info text-white">
    <h1 class="h5">Requetes</h1>
  </div>
  <!--end .card-header-->
  <ul class="list-group">
    <li *ngFor="let typeRequete of typeRequetes"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <button type="button" [routerLink]="['/requete/']" id="btnPartieDroite"
        class="btn btn-light btn-lg btn-block">{{typeRequete.type}}</button>
    </li>
  </ul>
  <div class="card-header bg-info text-white">
    <h1 class="h5">Notifications</h1>
  </div>
  <!--end .card-header-->
  <ul class="list-group">
  </ul>
</section>
<!--end Category section-->
