<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    Gestibank.com
  </div>
  <!-- Copyright -->
  <div style="text-align: right;"><a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a></div>
</footer>
<!-- Footer -->
