<app-header></app-header>
<main class="container-fluid mb-4">
  <section class="row my-4">
      <div class="col-12 col-md-9">
          <!--Begin Breadcrumb-->
          <nav>
            <ol id="bandeauFilArianne" class="breadcrumb">
                <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                <li class="breadcrumb-item"><a href="/client" style="color:white">Espace client</a></li>
                <li class="breadcrumb-item active">Transactions</li>
            </ol>
        </nav>
          <!--End Breadcrumb-->
          <table class="table ">
            <tr *ngFor = "let transaction of transactions">
              <td>{{transaction.libelle}}</td>
              <td>{{transaction.montant}}</td>
            </tr>
              </table>
      </div>
      <!--End first column-->
      <div class="col-12 col-md-3">
        <app-partie-droite-client></app-partie-droite-client>
        </div>
  </section>
  <!--end section.row-->
</main>
<!--end main.container-fluid-->
