<div class="container ">
  <p>Utilisateurs enregistres dans ma bdd</p>
  <table class="table ">
<tr *ngFor = "let utilisateur of utilisateurs">
  <td>{{utilisateur.nom}} | </td>
  <td>{{utilisateur.prenom}} | </td>
  <td>{{utilisateur.adresse}} | </td>
  <td>{{utilisateur.email}} | </td>
  <td>{{utilisateur.telephone}} | </td>
  <td>{{utilisateur.pseudo}} | </td>
  <td>{{utilisateur.mdp}}</td>
</tr>
  </table>
<br><br>
<p>Agents enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let agent of agents">
      <td>{{agent.matricule}} | </td>
      <td>{{agent.utilisateur.nom}} | </td>
      <td>{{agent.utilisateur.prenom}} | </td>
      <td>{{agent.utilisateur.adresse}} | </td>
      <td>{{agent.utilisateur.email}} | </td>
      <td>{{agent.utilisateur.telephone}} | </td>
      <td>{{agent.utilisateur.pseudo}} | </td>
      <td>{{agent.utilisateur.mdp}}</td>
    </tr>
      </table>
<p>Clients enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let client of clients">
      <td>{{client.utilisateur.nom}} | </td>
      <td>{{client.utilisateur.prenom}} | </td>
      <td>{{client.utilisateur.adresse}} | </td>
      <td>{{client.utilisateur.email}} | </td>
      <td>{{client.utilisateur.telephone}} | </td>
      <td>{{client.utilisateur.pseudo}} | </td>
      <td>{{client.utilisateur.mdp}}</td>
    </tr>
      </table>
<p>Comptes enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let compte of comptes">
      <td>{{compte.client.utilisateur.nom}} | </td>
      <td>{{compte.numCompte}} | </td>
      <td>{{compte.solde}} | </td>
      <td>{{compte.decouvert}} | </td>
    </tr>
      </table>

<p>Transactions enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let transaction of transactions">
      <td>{{transaction.compte.client.utilisateur.nom}} | </td>
      <td>{{transaction.libelle}} | </td>
      <td>{{transaction.montant}} | </td>
    </tr>
      </table>
<p>DemandesOuverture enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let demande of demandes">
      <td>{{demande.clientPotentiel.nom}} | </td>
    </tr>
      </table>

<p>Requetes enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let requete of requetes">
      <td>{{requete.client.utilisateur.nom}} | </td>
      <td>{{requete.message}} | </td>
    </tr>
      </table>

<p>Notifications enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let notification of notifications">
      <td>{{notification.message}} | </td>
      <td>{{notification.compte.client.utilisateur.nom}} | </td>
    </tr>
      </table>

<p>TypeRequets enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let typeRequete of typeRequetes">
      <td>{{typeRequete.type}} | </td>
    </tr>
      </table>
<p>TypeTransactions enregistres dans ma bdd</p>
  <table class="table ">
    <tr *ngFor = "let typeTransaction of typeTransactions">
      <td>{{typeTransaction.type}} | </td>
    </tr>
      </table>
</div>
