<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Espace client</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <h1>Bonjour, {{client.utilisateur.nom}}</h1>
            <div class="list-group list-group-flush mb-3" *ngFor="let compte of comptes">
              <article class="list-group-item list-group-item-action">
                <h1 class="h3">Numero de compte : {{compte.numCompte}}</h1>
                <p>Solde : {{compte.solde}}</p>
                <a routerLinkActive="active" [routerLink]="['/compte/', compte.idcompte]" routerLinkActive="active" class="btn btn-info">&raquo; Voir les transactions</a>
              </article>
              <!--end article.list-group-item-->
          </div>
                <!--end article.list-group-item-->
        </div>
        <!--End first column-->
        <div class="col-12 col-md-3">
          <app-partie-droite-client></app-partie-droite-client>
          </div>
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>
<!--end main.container-fluid-->
