<app-header></app-header>
<main class="container-fluid mb-4">
  <section class="row my-4">
    <div class="col-12 col-md-9">
      <!--Begin Breadcrumb-->
      <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
          <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
          <li class="breadcrumb-item"><a href="/client" style="color:white">Espace client</a></li>
          <li class="breadcrumb-item active">Requete</li>
        </ol>
      </nav>
      <!--End Breadcrumb-->

      <form [formGroup]="requeteForm" (ngSubmit)="envoyerRequete()">
        <div id="cadreFormulaire" class="card m-3">
          <h5 class="card-header">Requete</h5>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="form-group">
                <label for="projetTitle">Votre message</label>
                <textarea class="message" rows="5" name="message" type="text " class="form-control "
                  formControlName="message" placeholder="Ici votre message"></textarea>
                <button type="submit " id="boutonvalider" class="btn btn-info " data-toggle="modal"
                  data-target="#exampleModalCenter">Valider</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">REQUETE ENVOYEE</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Votre requete est bien envoyee elle sera traitee au plus vite par votre conseiller
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-info" Onclick="javascript:window.history.go(0)">
                          <a [routerLink]="['/client']" style="color: white;">Valider</a></button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--End first column-->
    <div class="col-12 col-md-3">
      <app-partie-droite-client></app-partie-droite-client>
    </div>
  </section>
  <!--end section.row-->
</main>
<!--end main.container-fluid-->
